<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MY DASHBOARD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <br>
    <a class="navbar-brand">WELCOME TO TICKET BOOKING APP</a>
</head>

<body>
    <div class="navbar">
        <div class="nav-item"><a href="/uslogin"><span>USER-LOGIN</span></a></div>
        <div class="nav-item"><a href="/usregister"><span>USER-REGISTER</span></a></div>
    </div>
    <div class="navbar">
        <div class="nav-item"><a href="/adlogin"><span>ADMIN-LOGIN</span></a></div>
        <div class="nav-item"><a href="/adregister"><span>ADMIN-REGISTER</span></a></div>
    </div>
    <header>

        <div class="btn"></div>
    </header>
</body>

</html>