flask
flask_restful
flask_login
pandas
flask_sqlalchemy
werkzeug
matplotlib
requests
pandas
Flask-Cors==3.0.10
celery[redis]
redis
gunicorn
python-dotenv
flask_sse
gevent
flask_sse
httplib2
flask_cors
weasyprint
PyPDF2
flask_caching
flask_security
email_validator